<div class="inline-actions">
  <%%= link_to 'Back', <%= plural_name %>_path %>
</div>

<h1>New <%= singular_name.humanize %></h1>

<%% form_for(@<%= singular_name %>) do |f| %>
	<%%= f.error_messages %>

	<% for attribute in attributes -%>
		<fieldset>
		  <%%= f.label :<%= attribute.name %> %>
	  	<%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
		</fieldset>
	<% end -%>
  <p>
  	<%%= f.submit 'Create' %>
  </p>
<%% end %>